*pro.user


**/.vs/
build/
config.tests/*/.qmake.stash
config.tests/*/Makefile
/AntiHooking/debug
/AntiHooking/release
/AntiHooking/x64
/app/debug
/app/release
/app/x64
/h264bitstream/debug
/h264bitstream/release
/h264bitstream/x64
/moonlight-common-c/debug
/moonlight-common-c/release
/moonlight-common-c/x64
/qmdnsengine/debug
/qmdnsengine/release
/qmdnsengine/x64
/soundio/debug
/soundio/release
/soundio/x64
/mdns_cpp/debug
/mdns_cpp/release
/mdns_cpp/x64
/x64
